.profile {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  min-width: 450px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  background-color: white;
  margin-top: 25px;
  width: 225px;
  display: flex;
  border-radius: 50%;
}
.stats {
  display: flex;
}

li {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.name {
  margin-top: 15px;
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.tag {
  margin-top: 15px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}
.location {
  margin-top: 15px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

.stats > li {
  background-color: white;
  border: 1px solid darkgrey;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  width: 145px;
  text-align: center;
}

.quantity {
  font-size: 26px;
  font-weight: 500;
}
