.friend_list {
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.item {
  flex-direction: row;
  align-items: center;
  gap: 15px;
  background-color: lightgray;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}
