.transaction_history {
  min-width: 750px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 150px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid lightgray;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.table_head {
  font-size: 24px;
  line-height: 1.5;
  background-color: darkcyan;
  color: white;
}

.table_item {
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

.table_row:nth-child(2n + 1) {
  background-color: lightgrey;
}
